<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022577936384-medvndk8hbq84lkfpji1gkcsr9pd5jb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022577936384-medvndk8hbq84lkfpji1gkcsr9pd5jb1</string>
	<key>API_KEY</key>
	<string>AIzaSyArW8YqsStzzDPDSg7p2lg5G2n3WFib4Ok</string>
	<key>GCM_SENDER_ID</key>
	<string>1022577936384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.talaqah.app</string>
	<key>PROJECT_ID</key>
	<string>talaqah-clinic</string>
	<key>STORAGE_BUCKET</key>
	<string>talaqah-clinic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022577936384:ios:342f852d0e12a65a8330e5</string>
	<key>DATABASE_URL</key>
	<string>https://talaqah-clinic-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>